{# templates/components/custom_card.html #}
{% macro render_card(item, route_name='main.communication_items') %}
    {% if item.is_standalone %}
        <div class="custom-card standalone"
            data-id="{{ item.id }}"
            data-item='{{ item.to_dict() | tojson | safe }}'
            data-url="{{ url_for('custom_card.card_click') }}"
            onclick="handleCardClick(this, event)">
            <div class="card-image">
                <img src="{{ url_for('static', filename=item.image_source or 'images/default.png') }}"
                     alt="{{ item.text }}">
            </div>
            <div class="card-text">{{ item.text }}</div>
            <div class="card-select-icon" style="display:none;">
                <i class="fa fa-square-o"></i>
            </div>
        </div>
    {% else %}
        <a class="custom-card category"
           data-id="{{ item.id }}"
           data-item='{{ item.to_dict() | tojson | safe }}'
           data-url="{{ url_for(route_name, category_id=item.id) }}"
           onclick="handleCardClick(this, event)">
            <div class="card-image">
                <img src="{{ url_for('static', filename=item.image_source or 'images/default.png') }}"
                     alt="{{ item.text }}">
            </div>
            <div class="card-text">{{ item.text }}</div>
            <div class="card-select-icon" style="display:none;">
                <i class="fa fa-square-o"></i>
            </div>
        </a>
    {% endif %}
{% endmacro %}
