{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_toolbar.css')}}">
{% endblock %}

{% block content %}
<nav class="nav-bar">
    <div class="nav-title">{{selected_category}}</div>
    {% if request.endpoint == 'main.home' %}
        <!-- Show hamburger ONLY on home -->
        <button class="menu-btn" id="main-menu" onClick="onMainMenuClick(this)">&#9776;</button>
    {% else %}
        <!-- Show back button on all other routes -->
        <a class="menu-btn" href="{{ url_for('main.home') }}">
            <span><i class="fa fa-arrow-circle-left"></i></span>
        </a>
    {% endif %}
</nav>

<!-- Floating menu panel (no full overlay) -->
<div id="menu-content" class="menu-content">
    <div class="username-item">{{username}}</div>
    <ul id="menu-list">
        {% for menu in menu_structure %}
        <li class="menu-item" onclick="onMenuClick('{{menu.name}}')">
            <i class="fa {{menu.icon}}"></i>
            <span>{{ menu.text }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
