{% extends "layouts/base_public.html" %}
{% block title %}Forgot Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
{% endblock %}

{% block content %}
<div class="background">
    <div class="card">
        <h2 class="title">Forgot Password</h2>
        
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == "success" %}
                <p class="message">{{ message }}</p>
            {% elif category == "error" %}
                <p class="error">{{ message }}</p>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}

            <!-- Email -->
            {{ form.email(class="input", placeholder="Enter your email") }}
            {% for error in form.email.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}

            <!-- Submit -->
            {{ form.submit(class="btn primary") }}
        </form>

        <a href="{{ url_for('auth.login') }}" class="link">Back to Login</a>
    </div>
</div>
{% endblock %}
