<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <title>{% block title %}My App{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <div id="toast" style="display:none; position: fixed; bottom: 20px; justify-self: center; padding: 10px 15px; color: white; border-radius: 5px; z-index: 9999;"></div>
</body>
</html>
