<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_logged_in.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actions_toolbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phrase_toolbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Phrase Toolbar -->
    {% if request.endpoint in ['main.home', 'main.communication_items'] %}
        <div id="phrase-toolbar-wrapper">
            {% include "components/phrase_toolbar.html" %}
        </div>
    {% endif %}

    <!-- Main Toolbar -->
    {% if request.endpoint in ['main.home', 'main.communication_items', 'main.settings','main.language','main.about'] %}
        <div id="main-toolbar">
            {{ main_toolbar.render()|safe }}
        </div>
    {% endif %}

    <!-- Actions Toolbar -->
    {% if request.endpoint in ['main.home', 'main.communication_items'] %}
        {% include "components/actions_toolbar.html" %}
    {% endif %}

    <main id="main-content">
        <div id="loader" class="loader-overlay">
            <div class="spinner"></div>
        </div>
        {% block content %}{% endblock %}
    </main>

    <div id="toast" style="display:none; position: fixed; bottom: 20px; justify-self: center; padding: 10px 15px; color: white; border-radius: 5px; z-index: 9999;"></div>

    <!-- JS Modules -->
    <script type="module" src="{{ url_for('static', filename='js/actions_toolbar.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/cards.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/item_add.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/item_edit.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/item_delete.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/phrase_toolbar.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main_toolbar.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>
