
CREATE TABLE languages (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            code TEXT NOT NULL
        );
CREATE TABLE communication_category (
            category_id   INTEGER PRIMARY KEY AUTOINCREMENT,
            text          TEXT NOT NULL,
            user_id       INTEGER,
            icon_path     TEXT,
            is_standalone INTEGER DEFAULT 1, parent_category_id INTEGER,
            FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE SET NULL ON UPDATE CASCADE
        );
CREATE TABLE communication_item (
            item_id     INTEGER PRIMARY KEY AUTOINCREMENT,
            category_id INTEGER NOT NULL,
            text       TEXT NOT NULL,
            icon_path   TEXT,
            FOREIGN KEY (category_id) REFERENCES communication_category(category_id) ON DELETE CASCADE
        );
CREATE TABLE menu (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            parent_id INTEGER,           -- for hierarchy
            name TEXT NOT NULL,          -- internal identifier
            text TEXT NOT NULL,          -- display text (e.g., "Profile")
            icon TEXT,                   -- KivyMD icon name (e.g., "account")
            FOREIGN KEY (parent_id) REFERENCES menu (id)
        );
CREATE TABLE user_sessions (
            session_id INTEGER PRIMARY KEY AUTOINCREMENT,
            user_id INTEGER NOT NULL,
            session_token TEXT UNIQUE NOT NULL,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            expires_at TIMESTAMP NOT NULL,
            device_id TEXT,
            FOREIGN KEY (user_id) REFERENCES users (user_id)
        );
CREATE TABLE users (
            user_id    INTEGER PRIMARY KEY AUTOINCREMENT,
            username   TEXT NOT NULL UNIQUE,
            email      TEXT NOT NULL UNIQUE,
            password   TEXT NOT NULL,
            language   TEXT NOT NULL
        );
CREATE TABLE feedback (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            rating INTEGER,          -- 1-5 star rating
            text TEXT,           -- optional text feedback
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );


