{% extends "layouts/base_logged_in.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_toolbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
{% endblock %}

{% block content %}

<nav class="nav-bar">
    <div class="nav-title">Settings</div>
        <!-- Show back button on all other routes -->
        <a class="menu-btn" href="{{ url_for('main.settings') }}">
            <span><i class="fa fa-arrow-circle-left"></i></span>
        </a>
</nav>
<div class="change-password-container">
    <h2>Change Password</h2>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('main.change_password') }}" class="change-password-form">
        {{ form.hidden_tag() }}

        <div class="form-group">
          <label for="current_password">Current Password</label>
          {{ form.current_password(class="form-control", id="current_password") }}
          {% for error in form.current_password.errors %}
              <div class="error-message">{{ error }}</div>
          {% endfor %}
      </div>

      <div class="form-group">
          <label for="new_password">New Password</label>
          {{ form.new_password(class="form-control", id="new_password") }}
          {% for error in form.new_password.errors %}
              <div class="error-message">{{ error }}</div>
          {% endfor %}
      </div>

      <div class="form-group">
          <label for="confirm_password">Confirm New Password</label>
          {{ form.confirm_password(class="form-control", id="confirm_password") }}
          {% for error in form.confirm_password.errors %}
              <div class="error-message">{{ error }}</div>
          {% endfor %}
      </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
</div>
{% endblock %}