@import url('login.css');
.card { padding-top: 30px; }.title { font-size: 1.8rem; }.flash.success { background: #198a66; }.flash.error { background: var(--danger); }.flash.info { background: var(--primary); }.flash.warning { color: #5a4200; background: #fff0bd; }
